<h1>Welcome New Friend!</h1>

<p>To confirm you account, please visit the following link</p>

<a href="{{ confirmation }}">{{ confirmation }}</a>

<p>This link will expire in 1 hour.</p>

<p>Cheers!</p>
