{% extends 'adminTemplate.html.twig' %}

{% block title %}Edit Livraison{% endblock %}

{% block body %}
    <nav class="navbar navbar-dark bg-dark mb-3 rounded">
        <span class="navbar-brand mb-0 h1">Modifier Livraison</span>
    </nav>

    {{ include('livraison/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_livraison_index') }}">Retour</a>

    {{ include('livraison/_delete_form.html.twig') }}
{% endblock %}
