{% extends 'adminTemplate.html.twig' %}

{% block title %}Editer Commande{% endblock %}

{% block body %}
    <h1>Editer Commande</h1>

    {{ include('commande/_form.html.twig', {'button_label': 'Update'}) }}
<br>

    <a href="{{ path('admin_commande_index') }}" class="btn btn-dark" ><i class="fas fa-list"></i>  Retour a la liste</a>


{% endblock %}
