{% extends 'userTemplate.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<section class="home" id="home">

    <div class="swiper-container home-slider">

        <div class="swiper-wrapper wrapper">

            <div class="swiper-slide slide">
                <div class="image">
                    <img src="{{ asset ('images/flyer.png')}}" alt="">
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="image">
                    <img src="{{ asset ('images/affiche.png')}}" alt="">
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="image">
                    <img src="{{ asset ('images/affiche2.png')}}" alt="">
                </div>
            </div>

        </div>

        <div class="swiper-pagination mt-pagination"></div>

    </div>

</section>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6381.124145949898!2d10.18147762628329!3d36.90082341971166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e2cb763f2120bb%3A0xc3e79593db50c2e8!2sLa%20petite%20Ariana%2C%20Cebalat%20Ben%20Ammar!5e0!3m2!1sfr!2stn!4v1650322845664!5m2!1sfr!2stn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

{% endblock %}
